apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: frontend
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: frontend
  template:
    metadata:
      labels:
        io.kompose.service: frontend
    spec:
      initContainers:
        - name: wait-for-gateway
          image: busybox:1.36
          command: ['sh', '-c', 'until nslookup gateway.default.svc.cluster.local; do echo waiting for gateway; sleep 2; done']
      containers:
        - image: moboks/aeroport-frontend:v1
          imagePullPolicy: Always
          name: frontend
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: "32Mi"
            limits:
              memory: "64Mi"
